/* GRID INTRO */

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
  gap: 10px 30px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

/* grid lines */

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  background-color: dodgerblue;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
} */
