/* GRID INTRO */

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
  gap: 10px 30px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

/* grid lines */

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  background-color: dodgerblue;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
} */

/* GRID CONTAINER */

/* grid template rows */
/* .grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
} */

/* grid template rows */

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
} */

/* justify content */

/* .grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
} */

/* align content */

/* .grid-container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
} */
